@font-face {
    font-family: 'Bariol';
    src: url('../font/bariol_regular-webfont.eot');
    src: url('../font/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bariol_regular-webfont.woff') format('woff'),
         url('../font/bariol_regular-webfont.ttf') format('truetype'),
         url('../font/bariol_regular-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #713DBF;
}

#titles {
  margin-top: 15px;
  font-family: 'Bariol';
  font-size: 1.2em;
  color: #ffffff;
}

#col1 {
  position:absolute;
  top: 10px;
  left: 10px;
}

#col2 {
  position:absolute;
  top: 10px;
  left: 100px;
}

#loadingWhite {
  position: relative;

  width: 40px;
  height: 40px;
  display: block;
  background-image: url("../images/loadingWhite.png");
  animation: loaderWhite .8s steps(30) infinite;
}
@keyframes loaderWhite {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1200px;
 }
}

#loadingBlack {
  position: relative;

  width: 40px;
  height: 40px;
  display: block;
  background-image: url("../images/loadingBlack.png");
  animation: loaderBlack .8s steps(30) infinite;
}
@keyframes loaderBlack {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1200px;
 }
}

#typingWhite {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  background-image: url("../images/typingWhite.png");
  animation: typerWhite .8s steps(25) infinite;
}
@keyframes typerWhite {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1000px;
 }
}

#typingBlack {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  background-image: url("../images/typingBlack.png");
  animation: typerBlack .8s steps(25) infinite;
}
@keyframes typerBlack {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1000px;
 }
}

#spinnerBlack {
  position: relative;
  top:10px;
  width: 13px;
  height: 13px;
  display: block;
  background-image: url("../images/optimisticSpinnerBlack.png");
  animation: spinnerBlack .8s linear infinite;
}
@keyframes spinnerBlack {
 from {
   transform: rotate(0deg); 
 }
 to {
   transform: rotate(360deg); 
 }
}

#spinnerWhite {
  position: relative;
  top:20px;
  width: 13px;
  height: 13px;
  display: block;
  background-image: url("../images/optimisticSpinnerWhite.png");
  animation: spinnerWhite .8s linear infinite;
}
@keyframes spinnerWhite {
 from {
   transform: rotate(0deg); 
 }
 to {
   transform: rotate(360deg); 
 }
}


#react-lol {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_lol.png");
  animation: lol .8s steps(24) infinite;
}
@keyframes lol {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-angry {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_angry.png");
  animation: angry .8s steps(24) infinite;
}
@keyframes angry {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-wtf {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_wtf.png");
  animation: wtf .8s steps(24) infinite;
}
@keyframes wtf {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-wow {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_wow.png");
  animation: wow .8s steps(24) infinite;
}
@keyframes wow {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-sad {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_sad.png");
  animation: sad .8s steps(24) infinite;
}
@keyframes sad {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-love {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_love.png");
  animation: love .8s steps(24) infinite;
}
@keyframes love {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-party {
  position: relative;
  left: -5px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_party.png");
  animation: party .8s steps(24) infinite;
}
@keyframes party {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

#react-pow {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_pow.png");
  animation: pow .8s steps(23) infinite;
}
@keyframes pow {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1840px;
 }
}

#react-hi {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/react_hi.png");
  animation: hi .8s steps(24) infinite;
}
@keyframes hi {
 from {
   background-position: 0px;
 }
 to {
   background-position: -1920px;
 }
}

