@font-face {
    font-family: 'Bariol';
    src: url('../font/bariol_regular-webfont.eot');
    src: url('../font/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bariol_regular-webfont.woff') format('woff'),
         url('../font/bariol_regular-webfont.ttf') format('truetype'),
         url('../font/bariol_regular-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #000000;
}
#dotholder {
  position:absolute;
  color: #ffffff;
  font-family: 'Bariol';
  font-size: 2em;
  left: 50px;
  top: 0px;
}

#dots {
  position: relative;
  left: 110px;
  top: -55px;
  width: 50px;
  height: 20px;
  display: block;
  background-image: url("../images/dots.png");
  animation: dots .8s steps(10) infinite;
}
@keyframes dots {
 100% {
   background-position: -1560px;
 }
}